.App {
  text-align: center;
  width: 70%;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  margin-left: 200px;
}

body {
  background-color: #ccc5b9;
}

.main-heading {
  font: arial 45px bold;
  color: #fff;
  text-decoration: solid;
  text-transform: capitalize;
  width: 100%;
  background: #e6af2e;
  border: 3px solid #252422;
  padding: 10px;
}

ul {
  background: #127475;
  justify-items: center ;
  padding: 10px;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid #f2542d;
  margin-top: 10px;
  height: 50px;
  background-color: #0e9594;
}

li {
  flex-grow: calc(4);
  list-style-type: none;
  transition: 0.5s;
  color: white;
  font: 20px sans-serif;
}

.btn {
  background: #252422;
  color: white;
  height: 40px;
  flex-grow: 1;
}

.btn:hover {
  color: #e6af2e;
  background: rgb(187, 51, 214);
  border-radius: 5px;
}

.check {
  flex-grow: 1;
  height: 80%;
}

.row:hover {
  transform: scale(1.1);
}

.input-text {
  height: 30px;
  width: 70%;
  border: 2px solid #245422;
  border-radius: 10px;
}

.addTask {
  height: 25px;
  width: 15%;
  margin-left: 15px;
  background: #252422;
  color: white;
  height: 40px;
}

.addTask:hover {
  background: white;
  color: #252422;
  border-radius: 10px;
}
